body {
	background-color: #003f88;
}

button {
	background-color: #f95738;
	color: #003f88;
	font-weight: 500;
}

.container {
	background-color: #003f88;
}

h2 {
	color: #f95738;
}

.jumbotron {
	text-align: center;
	background-color: #003f88;
	color: #f95738;
	font-size: bolder;
}

.hidden {
	display: none;
}

#neighborhood {
	color: #f95738;
	font-family:'Courier New', Courier, monospace;
	font-weight: 900;
}